.cart {
    position: relative;
    @include flex_container(flex, space-between, space-between);
    flex-direction: column;

    .cart-icon {
        width: 27px;
        margin: 0 14px 0 12px;

        @include mobile {
            width: 24px;
        }

        path,
        circle {
            stroke: $primary;
        }

        &:hover {
            cursor: pointer;
        }
    }
}

.cart-content {
    display: none;
    position: fixed;
    top: 0;
    right: -28%;
    width: 28%;
    max-width: 500px;
    height: 100vh;
    z-index: 98;
    background-color: #fff;
    box-shadow: 0 10px 15px rgb(0, 0, 0, 0.04);
    border-left: 1px solid rgb(0, 0, 0, 0.14);
    animation: 0.3s widen forwards;

    @keyframes widen {
        0% {
            right: -28%;

            @include mobile {
                right: -75%;
            }
        }

        100% {
            right: 0;
        }
    }

    @include mobile {
        width: 75%;
        right: -75%;
    }

    .product {
        padding: 10px;
        min-width: 120px;
        max-width: 95%;
        margin-bottom: 0;

        @include mobile {
            padding: 0;
        }

        &-inner {
            position: relative;
            display: flex;
            padding: 10px;
            min-width: 120px;
            max-width: 90%;
            box-shadow: none;
            margin-bottom: 25px;
            border: none;

            @include mobile {
                display: block;
            }
        }

        &-header {
            min-width: 80px;
            height: 120px;
            margin-bottom: 5px;

            @include mobile {
                height: 80px;
                margin-bottom: 25px;
            }

            img {
                width: 70%;
            }
        }

        &-body {
            padding-left: 15px;

            h6 {
                font-size: 12px;
                height: 30px;
            }

            p {
                font-size: 9px;
            }
        }

        &-footer {
            margin-top: 0;
            padding-left: 15px;

            .price {
                position: relative;
                top: -8px;
                font-size: 18px;
            }
        }

        .delete {
            text-align: center;
            line-height: 20px;
            position: relative;
            top: 30px;
            left: 50px;
            background-color: transparent;
            border: 1px solid #e1e1e1;
            color: #4a4a4a;
            font-size: 17px;
            width: 40px;
            min-width: 40px;
            height: 40px;

            @include mobile {
                top: -40px;
                left: 90%;
            };

            &:hover {
                cursor: pointer;
            }
        }



        button {
            height: 30px;
            font-size: 12px;
            line-height: 20px;
        }
    }
}

.cart-header {
    @include flex_container(flex, unset, space-between);
    padding: 15px;
    border-bottom: 1px solid rgba(236, 236, 236, 1);

    @include mobile {
        display: block;
    }

    .cart-info {
        @include flex_container(flex, center);

        @include mobile {
            margin-bottom: 10px;
        }

        h2 {
            font-size: 18px;
            font-weight: 600;
            padding-right: 8px;
        }

        span {
            position: relative;
            top: 2px;
            font-size: 13px;
        }
    }

    .cart-options {
        display: flex;
        align-items: center;

        button {
            &:last-child {
                margin-left: 15px;
            }
        }
    }
}

.cart-body {
    height: calc(100vh - 160px);
    overflow-y: auto;
    padding: 0 40px;
    padding-top: 40px;

    @include mobile {
        height: calc(100vh - 185px);
        padding: 40px 15px 40px 15px;
    }

    .empty-notify {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;

        svg {
            width: 220px;
            margin: auto;

            @include mobile {
                width: 100px;
            }

            path {
                fill: $primary;
            }
        }

        h6 {
            font-size: 20px;
            font-weight: 700;

            @include mobile {
                font-size: 16px;
                line-height: 1.3;
                margin-top: 10px;
            }
        }
    }
}

.cart-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 15px;
    border-top: 1px solid rgba(236, 236, 236, 1);

    h6 {
        font-size: 14px;
        font-weight: 400;

        @include mobile {
            font-size: 12px;
        }
    }

    h3 {
        font-size: 22px;

        @include mobile {
            font-size: 15px;
        }
    }
}

.open {
    display: block;
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
}