.footer {
    @include flex_container(flex, start, space-between);
    padding: 60px 200px;
    background-color: $primary;
    color: #ececec;

    @include medium-desktop {
        padding: 60px 100px;
    }
    @include mobile {
        display: block;
        padding: 60px 30px;
    }


    .widget {
        flex: 1;

        @include mobile {
            margin-bottom: 35px;
        }    

        &:last-child {
            @include mobile {
                margin-bottom: 0;
            }        
        }

        h6 {
            font-size: 19px;
            font-weight: 700;
            margin-bottom: 15px;
        }
        .links {
            li {
                margin-bottom: 7px;
            }
        }
    }
}